
*{
    margin: 0;
    padding: 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

img{
    height: 100px;
    
    margin-bottom: 15px;
}
h1{
    letter-spacing: 2 px;
    margin-bottom: 5px;
}
p{
    margin-bottom: 5px;
}