*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
section{
    position: relative;
    width: 100%;
    height: auto;
    max-width: 700px;
    //border:  1px solid #ccc;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    
    
}
h2 ,h3{
    margin-bottom: 15px;
}
.news-input {
    margin-bottom: 20px;
    width: 100%;
    min-height: 190px;
    padding: 1rem;
    border: none;
    font-family: var(--font-serif);
    font-size: 1.05rem;
    resize: none;
    outline: none;
    background: #fcfcfc;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 10px;
      &::placeholder {
        color: #999;
        font-style: italic;
      }
    }
ng-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10px;
}
.resultado{
    box-sizing: border-box;
    width: 100%;
}
.resultado a {
  word-break: break-all; /* corta palabras largas si es necesario */
  overflow-wrap: anywhere; /* alternativa moderna */
  color: #007bff;
  text-decoration: underline;
}


.button{
    text-align: center;
    display: flex;
    padding:5px 10px;
    background-color: #fcfcfc20;
    border-radius: 25px;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    
}