  .instructions {
    
    h3 {
      font-family: var(--font-display);
      font-size: 1.4rem;
      text-align: center;
      margin-bottom: 1.2rem;
      color: var(--primary-color);
    }

    ol {
      padding-left: 1.8rem;
      line-height: 1.4;
      margin-bottom: 1.5rem;
      
      li {
        margin-bottom: 0.3rem;
        font-size: 1rem;
        
        strong {
          color: #d4af37;
        }
      }
    }

    .note {
    border-radius: 15px;
    padding: 2px 15px;
      background: #f9f9f927;
      border-left: 2px solid #d4af37;
      font-size: 0.95rem;
      font-style: italic;
      font-family: Times New Roman;
    }
  }
